<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    User Database
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>FrontId</th>
                                <th>BackId</th>
                                <th>WalletId</th>
                                <th>Status</th>
                                <th>Permission</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>FrontId</th>
                                <th>BackId</th>
                                <th>WalletId</th>
                                <th>Status</th>
                                <th>Permission</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                           {{#ifCond user.roles '==' 'user'}}
                            {{#each userList}}
                            <tr>
                                <td>{{this.email}} </td>
                                <td>{{this.phone}}</td>
                                <td><i class="fa fa-image"></td>
                                <td><i class="fa fa-image"></td>
                                <td>Wallet01</td>
                                <td>
                                    {{this.status}} 
                                    <button class="btn btn-primary"><i class="fa fa-check"></i></button>
                                </td>
                                <td class="text-danger font-weight-bold">{{this.permission}} 
                                    <button class="btn btn-success"><i class="fa fa-check"></i></button></td>
                                {{#ifeq this.banCheck true }}
                                <td>
                                    <a  href="/admin/unBan/{{this._id}}"><button class="btn btn-success">UnBan</button></a>
                                </td>
                                {{else}}
                                <td>
                                    <a href="/admin/ban/{{this._id}}"><button class="btn btn-danger">Ban</button></a>
                                </td>
                                {{/ifeq}}
                            </tr>
                            {{/each}}
                            {{/ifCond}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>