<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    User Database
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sender</th>
                                <th>Receiver</th>
                                <th>Transfer</th>
                                <th>Waiting Confirm</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                       
                        <tbody>
                            {{#each userList}}
                            {{#each history}}
                            {{#ifCond this.money ">=" 5000000}}
                            {{#ifeq this.type "rutTien"}}
                            <tr>
                                <td>{{this.username}}</td>
                                <td>{{this.phone}}</td>
                                <td>{{this.money}} VND</td>
                                <td>Waiting Confirm</td>
                                <td>
									<button class="btn btn-success">Accept</button>
                                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
									Details</button>
                                </td>
                            </tr>
                            {{/ifeq}}
                            {{/ifCond}}
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </main>







    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Chi Tiết</h5>
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                            <tr>
                                <th>Sender</th>
                                <th>Receiver</th>
                                <th>Transfer</th>
                                <th>Created At</th>
                                <th>Type</th>   
                                <th>Note</th>
                                <th>Waiting Confirm</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                       
                        <tbody>
                            {{#each userList}}
                            {{#each history}}
                            {{#ifCond this.money ">=" 5000000}}
                            {{#ifeq this.type "rutTien"}}
                            <tr>
                                <td>{{this.username}}</td>
                                <td>{{this.phone}}</td>
                                <td>{{this.money}} VND</td>
                                <td>{{moment this.createdAt format = "HH:mm on DD/MM/yyyy"}}</td>
                                
                                <td>
                                    {{this.type}}
                                </td>
                                <td>{{this.note}}</td>
                                <td>Waiting Confirm</td>
                                <td>
									<button class="btn-xs btn-success">Accept</button>
                                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
									Details</button>
                                </td>
                            </tr>
                            {{/ifeq}}
                            {{/ifCond}}
                            {{/each}}
                            {{/each}}
                        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>