<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{title}} Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/customer/{{user.slug}}">Dashboard</a></li>
                <li class="breadcrumb-item active">History</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    User Database
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Time</th>
                                <th>Money</th>
                                <th>Action</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                       
                        <tbody>

                        

                            {{#each user.history}}

                            <tr>
                                <td>{{sum @index 1}}</td>
                                <td>{{moment this.createdAt format = "HH:mm on DD/MM/yyyy"}}</td>
                                
                                <td>{{this.money}}</td>
                                <td>
                                    {{this.type}}
                                </td>
                                <td>
									<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
									Details</Details></button></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Đổi Ảnh cá nhân</h5>
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Time</th>
                    <th>Money</th>
                    <th>Action</th>
                    <th>Note</th>
                </tr>
            </thead>
            
            <tbody>

            

                {{#each user.history}}

                <tr>
                    
                    <td>{{sum @index 1}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{moment this.createdAt format = "HH:mm on DD/MM/yyyy"}}</td>
                    
                    <td><span class="user-money">{{this.money}} </span></td>
                    <td>
                        {{this.type}}
                    </td>
                    <td>{{#ifeq this.type "muaTheDienThoai"}}
                                    {{this.cardnumber}}
                                {{/ifeq}}
                                {{this.note}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>